<nav id="nav-bar-area">
    <ul id="nav-bar">
        <h1><a href="/">Blog</a></h1>
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/about">About</a></li>
        <li class="item"><a href="/blogs/create">Create a blog</a></li>
    </ul>
</nav>